html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.wrapper section {
    width: 1080px;
    display: flex;
    justify-content: center;
    position: relative;
}
.wrapper .logo-container{
    background: rgb(255,255,255);
    flex-direction: column;
    position: fixed;
    z-index: 1000;
}
.wrapper .logo-container .logo-box{
    display: flex;
    justify-content: space-between;
}
.wrapper .logo-container .logo-box #button{
    cursor: pointer;
}
.wrapper .logo-container .popup{
    width:35vw;
    background: blue;
    display: flex;
    flex-direction: column;
    border-radius: 3px;

    position: absolute;
    z-index: 2000;
}
.wrapper .title-box {
    margin-top: 150px;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
.wrapper .title-box .inner{
    position:absolute;
    bottom:50%;
}
.wrapper .content{
flex-direction: column;
}

@media (max-width: 1080px) {
    img {
      width: 100vw;
      height: auto;
    }
    .wrapper section{
        width: 100vw;
      }
    .wrapper section img {
      width: 100%;
      height: auto;
    }
    .wrapper .logo-container .logo-box #head{
        width: 80vw;
      }
    .wrapper .logo-container .logo-box #button{
          width: 8vw;
      }
}
